.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Dropdown menu style  */

.Dropdown-root {
  position: relative;
  text-align: left;
  min-width: 166px;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #676a6c;
  cursor: default;
  outline: none;
  padding: 14px 14px;
  transition: all 200ms ease;
  height: 48px;
  font-size: 18px;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 8px 6px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 20px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0px 6px 8px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title{
  color: #676a6c;
  font-weight: bold;
  text-transform: capitalize;
  padding: 14px 14px;
  font-size: 18px;
  display: table;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title img {
  display: table-cell;
  max-width: 20px;
  padding-right: 5px;
  opacity: 0.7;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title span {
  display: table-cell;
  vertical-align: middle;
}

.Dropdown-option {
  box-sizing: border-box;
  color: #676a6c;
  cursor: pointer;
  display: block;
  padding: 14px 8px 14px 40px;
  font-size: 18px;
  height: 48px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  color: #5dcfff;
}

.Dropdown-option.is-selected {
  color: #5dcfff;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 14px 14px;
}

.Dropdown-option > img {
  max-width: 25px;
  margin-right: 5px;
}

.Dropdown-placeholder > img {
  max-width: 25px;
  margin-right: 5px;
}
